body{
    width: 500px;
    height: 300px;
    margin: 0;
}

header{
    padding-bottom: 5px;
    border-bottom: solid 1px orange;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stacktext{
    margin-left: 15px;
    height: 35px;
    width: 100px
}

.navbar-expand-all .collapse{
    display: block;
}

input, select, button{
    font-size: 12px !important;
    height: 30px !important;
}

main .list-group{
    padding-top: 5px;
    max-height: 200px !important;
    overflow-y: scroll;
}